# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
src/app/About/page.js
src/app/Affiliates/page.js
src/app/Careers/page.js
src/app/Contact/page.js
src/app/Cookies/page.js
src/app/FAQ/page.js
src/app/Login/page.js
src/app/Privacy/page.js
src/app/Restaurants/page.js
src/app/Signup.js/page.js
src/app/Terms/page.js
